<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <div id="wrapper">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>

        <main>
            <%- body %><body id="delorean">
            <img src="/images/vehicles/delorean.jpg" alt="delorean-tn">
            <h2>DMC delorean</h2>
            <p>3 cup holders <br>
            Superman Doors<br>
            Fuzy Dice!</p>
            </body>
           
        </main>

        <%- include('../partials/footer') %>
    </div>
</body>
</html>